.navbar-brand {
    color: black !important;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    }
.navbar-brand:hover {
        color: white !important;
        font-weight: bold;
        }

.nav-link {
    color: black !important;
    
    font-size: 18px;
    }

.nav-link:hover {
    color: white !important;
    font-weight: bold;
        }
.blink {
     animation: blink 1s step-start infinite;
          }
          
@keyframes blink {
     50% {
    opacity: 0;
 }
}

.banner-image {
    background-size: cover;
    background-position: center center;
min-height: 80vh;

border: 1px solid orangered;
}

.mainheading {
    font-family: 'Roboto', sans-serif;
    color: #EE1D29;
}

.dropdown-item:hover {
    color: green !important;
}

.projectdiv:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translatey(-20px);
}

.zoom:hover {
    transform: scale(1.5);
    -ms-transform:scale(1.5);
    -webkit-transform:scale(1.5);
}

.box{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.box:hover h2{
    color: green !important;
}

.carousel-indicators{
    bottom: -30px;
}

.carousel-indicators li{
    background-color: maroon;
}
.carousel-control-prev-icon{
    background-color: maroon;
}
.carousel-control-next-icon{
    background-color: maroon;
}
.card:hover{
    transform: translateY(-20px);
}
.jumbotron{
    background-repeat: no-repeat;
    background-size: cover;
    
}

.design{
    color: #EE1D29 !important;
}

.design:hover{
    color: yellow !important;
}


.glow {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

#scrollbtn{
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

#scrollbtn:hover{
    background-color: #555;
}




